query-box {
    width: 100%;
}

query-text {
    width: 100%;
}

.form-control {
    width: 100%;
}

.form-component-editor-table {
    display: table;
    width: 100%;
}

.form-component-editor-left-div {
    display: table-cell;
}

.form-component-editor-right-div {
    display: table-cell;
    width: 50px;
    background-color: #f5f5f5;
    
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: red !important;
    background-color:red !important;
}


