.fql-bundle-field-input { 
  width: 100%; 
  box-sizing: border-box; 
  -webkit-box-sizing:border-box; 
  -moz-box-sizing: border-box;
}

.fql-bundle-checkbox-input { 
    cursor: pointer;
    box-sizing: border-box; 
    -webkit-box-sizing:border-box; 
    -moz-box-sizing: border-box;
}

.fql-bundle-label-required:after { 
    content:" *"; 
    color:red;
}

.fql-bundle-field-radio { 
    cursor: pointer 
}

.fql-error-message {
    text-align: center; 
    padding: 20px; 
}

.fql-dnd-container-separator {
  box-shadow: 0 -2px 0 blue;
}

.fql-dnd-container-drop-area {
  outline: 3px dashed;
}
