
.fql-left-sidenav {
    background-color: #2a2a2a;
    width: 60px;
    min-width: 60px;
}


.fql-editor-window {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.fql-fixed-header {
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(28, 32, 34);
    height: 3rem;
}

.fql-header-line {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 30px auto auto;
    -ms-grid-columns: 30px auto auto;
}

.fql-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}
.fql-logo svg {
    height: 30px;
}

.fql-header-name {
    color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}



.fql-header-menu {
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 30px 30px;
    -ms-grid-columns: 30px 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 7px;
    border: 1px solid rgb(28, 32, 34);
}

.fql-header-menu:hover {
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid;
}

.fql-header-menu:hover > .fql-logo-save svg {
    fill: rgba(255, 255, 255, 0.9);
}


.fql-logo-save {
    vertical-align: middle;
    line-height: 43px;
    width: 23px;
    height: 25px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.fql-logo-save svg {
     fill: rgba(255, 255, 255, 0.7);
}

.fql-logo-save-label {
    display: inline-block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}


.mat-list {
    padding-top:0px !important;
}

.mat-list-item {
    height: inherit !important;
}


.mat-drawer-container {
    height: 100vh;
    width: 100vw;
  }
  

.mat-drawer-right-sidenav {
    background-color: #f5f5f5;
    width: 50%;
    min-width:30px;
}


.form-root-mat-list-item {
    color: white;
    font-size: 12px;
    
}

.form-root-mat-list-item-icon {
    transform: scale(0.8);
}

.form-root-icon-sidenav {
    line-height: 50px;
    cursor:pointer;
    color:white;
    transform: scale(1.5);
}

.form-root-mat-divider {
    background-color: #aaa
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.left-sidenav-item {
    color: #eee;
    transform: scale(1.5);
}

.left-close-icon {
    color: #eee;
    position: relative;
    float: right;
    top: 2px;
    right: 2px;
    transform: scale(0.8);
    cursor: pointer;
}

.right-close-icon {
    color: #2a2a2a;;
    position: relative;
    float: right;
    top: 2px;
    right: 2px;
    transform: scale(0.8);
    cursor: pointer;
}

.editor {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

#loader {  
    position:relative;
    margin:0 auto;
    margin-top: 20px;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}

.form-root-expansion-panel {
    background-color: #2a2a2a;
    color:white;
}


.form-root-mat-list-item:hover {
    background-color: #444;
}