@import "../variables.scss";

.fql-component-container {
  padding: 10px;
}

.fql-component-container-wrapper {
  position: relative;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

.fql-component-container-wrapper:hover .fql-component-tooltip {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fql-component-container-wrapper:hover {
  // box-shadow: 1px 3px 3px rgb(200, 200, 200);
  border: 1px solid;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.fql-component-tooltip {
  opacity: 0;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  transition: opacity 0.3s ease-in-out
}
